@charset "utf-8";

/* ZhiqimUI */
.z-input{color:#333;}

/* global */
body{color:#333;background-color:#fff;}
body,table,td,div{font-size:14px;line-height:120%;}
a,a:visited{color:#333;text-decoration:none;cursor:pointer;}
a:active,a:hover{color:#216a9d;text-decoration:none;}
a.blue,a.blue:visited{color:#0066cc;text-decoration:none;cursor:pointer;}
a.blue:active,a.blue:hover{color:#0066cc;text-decoration:underline;}

/* topnav */
.topnav {position:relative;width:100%;min-width:680px;color: #fff;background-color:#008fbf;height:55px;z-index:99;}
.topnav .logo {float:left;width:200px;height:55px;padding:0 10px;overflow:hidden;font-size:24px;line-height:55px;background-color:#2a80b9;word-break:break-all;word-wrap:break-word;}

.topnav .topnavleft {float:left;height:55px;}
.topnav .topnavleft .bar {float:left;height:55px;line-height:55px;}
.topnav .topnavleft .first {border-left:1px solid #2a80b9;}
.topnav .topnavleft .nav, .topnav .topnavleft .nav-only {float:left;height:55px;line-height:55px;border-right:1px solid #2a80b9;}
.topnav .topnavleft .nav:hover{background-color:#2a80b9; color:#fff;}

.topnav .topnavright {float:right;height:55px;}
.topnav .topnavright .nav, .topnav .topnavright .nav-only {float:left;height:55px;line-height:55px; border-left:1px solid #2a80b9;}
.topnav .topnavright .nav:hover {background-color:#2a80b9; color:#fff;}

/* container */
.container {position:relative;width:100%;height:100%; min-height:1000px;overflow:hidden;background-color:#edf3f7;}

/*[替换z-tabnav的背景色为容器背景色]*/
.container .z-tabnav>nav li.z-active{border-bottom:1px solid #edf3f7;}
.container .z-tabnav>nav li.z-active:hover{background-color:#edf3f7;}

.sidebar {position:relative; float: left; width:200px;min-height:1000px;height:100%;margin-bottom:-9999px;padding-bottom:9999px;overflow:hidden; background-color: #f2f2f2; border-right:1px solid #d8dce5;}

.sidebar p{position:relative;float:left;width:200px; height:40px;line-height:40px; border-bottom:1px solid #e5e5e5;border-left:3px solid transparent;display:block;padding-left:10px;cursor:pointer;}
.sidebar p a{color:#333;}
.sidebar p .z-arrow{position:absolute;top:16px;right:10px;}
.sidebar p .z-arrow>span{border-color:#f2f2f2 transparent transparent;}
.sidebar p:hover{width:200px;background-color:#fafafa; border-left:3px solid #2a80b9;color:#216a9d;}
.sidebar p.active{width:200px;background-color:#fafafa; border-left:3px solid #2a80b9;color:#216a9d;}
.sidebar p:hover>.z-arrow>span{border-color:#fafafa transparent transparent;}
.sidebar p.active>.z-arrow>span{border-color:#fafafa transparent transparent;}

.sidebar ul{position:relative;width:200px;height:auto;overflow:hidden;}
.sidebar ul li{float:left;width:200px;border-left:0px;line-height:35px;text-indent:35px;border-bottom:1px  dashed #e5e5e5;background-color:#fff;background-color:#fff;background-image:url(ico_n.gif); background-position:15px; background-repeat:no-repeat;display:block;cursor:pointer;}
.sidebar ul li:hover{background-image: url(ico_h.gif)  ; background-repeat:no-repeat;color:#216a9d;}
.sidebar ul li.active{background-image:url(ico_h.gif); background-repeat:no-repeat;color:#216a9d;}

/* iframenav */
.iframenav{position:relative;margin-left:200px;height:40px;line-height:40px;overflow:hidden;}

/* [iframenav翻页] */
.iframenav-prev,.iframenav-next{position:absolute;top:0;width:45px;height:39px;z-index:1;background:#fff;cursor:pointer;padding:0 18px;text-align:center;line-height:39px;}
.iframenav-prev:hover,.iframenav-next:hover{background-color:#f5f5f5;}
.iframenav-prev{left:0;border-right:1px solid #d3d3d3;}
.iframenav-next{right:0;border-left:1px solid #d3d3d3;}
.iframenav-prev .z-font,.iframenav-next .z-font{color:#999;margin-left:-8px;}
    
/* [iframenav选项卡] */
.iframenav-tab-wrap{margin:0 45px;}
.iframenav-tab{position:absolute;left:45px;height:39px;background-color:#fff;overflow:hidden;}
.iframenav-tab-item{position:relative;float:left;line-height:39px;border-right:1px solid #d3d3d3;padding:0 35px 0 20px;background:#fff;color:#666;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.iframenav-tab-item.active{background-color:#d4d8db;}
.iframenav-tab-item:hover{color:#222;}
.iframenav-tab-item:first-child{padding-right:23px;}

.iframenav-tab-item .z-font{position:absolute;top:2px;width:25px;line-height:39px;color:#666;font-size:12px;cursor:pointer;text-align:center;}
.iframenav-tab-item .z-error{right:0;padding-right:5px;}
.iframenav-tab-item .z-error:hover{color:#f00;}

/* [iframenav内容页] */
.iframenav-cont{}
.iframenav-cont-item{width:100%;height:100%;display:none;}
.iframenav-cont-item.active{display:block;}
.iframenav-cont-item > iframe{width:100%;height:100%;border:0;margin:0;padding:0;}

/* mainbody */
.mainbody{margin-left:200px;}
.mainbody .breadcrumb{position:relative;float:left;width: 100%;background-color:#f5f5f5;}
.mainbody .content{position:relative;float:left;width:100%;padding:20px;}

/* footer */
.footer {position:relative;width:100%;height:40px;display:block;overflow:hidden;background-color:#2a80b9;z-index:99;}
.footer-wrap {position:relative;margin:0 auto;height:100%;line-height:40px;text-align: center;color:#fff;}
